/* * * * * * * General Styles * * * * * * */

.white-text {
    color: white !important;
}

.purple-text {
    color: mediumpurple;
}

.dark-purple-text {
    color: rebeccapurple;
}

.cyan-text {
    /*color: #05EAFA;*/
    color: #11CFFA;
}

.black-text {
    color: black;
}

.purple-background {
    background-color: #F0E6FA;
}

.dark-purple-background {
    background-color: rebeccapurple;
}

.cyan-background {
    /*color: #05EAFA;*/
    background-color: #11CFFA;
}

.nav-fonts {
    font-size: 105%;
}

nav a {
    text-decoration: none;
}

.images {
    border: 3px solid black;
}

.main-content {
    width: 100%;
    height: 78%;
    border: 1px solid black;
}

.main-content ul {
    width: 50%;
    margin-left: 25%;
    padding: 0.1% 2% 1% 2%;
    list-style: none;
}

.main-content li h3 {
    margin-bottom: 0.5%;
}

.main-content li p {
    padding: 0% 5%;
    margin: 0.5%;
}

#current-page {
    text-decoration: underline;
}

/* * * * * * * Top Banner * * * * * * */

#banner {
    width:  100%;
    height: 10%;
    border: 1px solid black;
}

#banner-logo {
    width: 8%;
    height: 120%;
    margin-left: 1%;
    float: left;
    background-color: transparent;
}

#banner-text {
    width: 30%;
    margin: 0.5% 0% 1% 19%;
    font-family: "Lucida Bright", Cambria, serif;
    font-weight: 600;
    font-size: 36px;
    float: left;
}

#banner-nav {
    width: 25%;
    margin: 0.5% 1% 4% 0.5%;
    float: right;
    text-align: right;
}

/* * * * * * * Main Menu Below Banner * * * * * * */
#main-menu-nav {
    width: 64%;
    border: 1px solid black;
    height: 5%;
    padding: 0.5% 0% 0% 36%;
}


/* * * * * * * Contact Us Modal * * * * * * */

/* * * * * * * Member Login Modal * * * * * * */

/* * * * * * * About Us Page * * * * * * */
#about-us-container {
    width: 40%;
    margin: 5% 30%;
}

#about-us-container div {
    font-weight: 800;
    font-size: 200%;
}

/* * * * * * * Home Page * * * * * * */
#home-page-image {
    width: 60%;
    height: 99%;
    float: left;
}

#home-page-content {
    margin: 0%;
    padding: 2% 2% 2% 62%;
    width: 36%;
    height: 75%;
    /*border: 1px solid black;*/
}

#testimonials-button {
    width: 10%;
    font-weight: 600;
    margin-left: 76%;
    display: block;
}

#testimonials-button a {
    text-decoration: none;
}

/* * * * * * * Testimonials Page * * * * * * */
.testimonials-text {
    text-align: justify;
    font-style: italic;
}

.testimonials-name {
    text-align: right;
    padding-right: 5%;
}

/* * * * * * * Learn Page * * * * * * */
#learn-container {
    margin: 5% 0%;
}

#learn-container div {
    font-weight: 800;
    font-size: 200%;
    text-align: center;
}

#learn-container ul {
    width: 100%;
    margin: 2% 10%;
}

#learn-container li {
    float: left;
    border: 1px solid black;
    height: 25%;
    width: 15%;
    margin: 2% 5%;
}

/* * * * * * * Calendar Page * * * * * * */
#calendar {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

#calendar th, #calendar td {
    width: 14%;
    height: 75px;
    border: 1px solid black;
}

#calendar td {
    text-align: right;
    vertical-align: text-top;
}

/* * * * * * * Blog Page * * * * * * */
#blog-container div {
    width: 50%;
    padding: 5% 0% 0% 25%;
    font-weight: 800;
    font-size: 200%;
}

#blog-text {
    height: 20%;
    overflow: auto;
}

#blog-author {
    text-align: right;
    padding-right: 5%;
}


/* * * * * * * Footer * * * * * * */
footer {
    width:100%;
    height: 5%;
    border:  1px solid black;
}

#copyright {
    padding: 0.75% 0%;
    width: 20%;
    color: white;
    margin-left: 1%;
    float: left;
    font-size: 75%;
}

#footer-nav {
    padding: 0.5% 0%;
    width: 30%;
    margin-left: 10%;
    text-align: center;
    float: left;
}

