.white-text {
    color: white !important;
}

.purple-text {
    color: mediumpurple;
}

.dark-purple-text {
    color: rebeccapurple;
}

.gold-text {
    color: goldenrod;
}

.banner {
    width:  100%;
    background-color: mediumpurple;
    border: 2px solid black;
    float: left;
}

.banner-logo {
    width: 90px;
    height: 75px;
    margin-left: 1%;
    float: left;
    background-color: transparent;
}

.banner-text {
    width: 30%;
    margin: 1% 0% 1% 10%;
    padding-left: 5%;
    font-family: "Lucida Bright", Cambria, serif;
    font-weight: 600;
    font-size: 36px;
    float: left;
}

.banner-nav {
    width: 25%;
    margin: 0% 1% 2% 0%;
    padding-bottom: 2%;
    float: right;
    text-align: right;

}
